 .our-latest-product{
float: left;
width: 100%;
margin-bottom: 95px;
}
 .our-latest-product h4{
float: left;
width: 100%;
text-align: center;
font-size: 18px;
font-family: 'Lato', sans-serif;
padding-bottom: 18px;
color: #252525;
font-weight: normal;
}
 .our-latest-product p{
float: left;
width: 100%;
text-align: center;
font-size:37px;
font-family: 'Lato', sans-serif;
padding-bottom: 75px;
color: #252525;
}

 .our-latest-product .list{
float: left;
width: 100%;
}
 .our-latest-product .list ul{
margin:0px -12px;
}
 .our-latest-product .list ul li{
float: left;
width: 25%;
list-style: none;
padding: 0px 12px;
text-align: center;
}
 .our-latest-product .list ul li .main{
float: left;
width: 100%;
border: 1px solid #ededed;
padding-top: 20px;
font-family: 'Lato', sans-serif;
position: relative;
}
 .our-latest-product .list ul li .main .discount{
background-color: #252525;
color: #ffffff;
padding: 7px 8px 6px 8px;
font-size: 11px;
top:11px;
left: -1px;
position: absolute;
content: "";
z-index: 1;
}
 .our-latest-product .list ul li .main figure{
float: left;
width: 100%;
position: relative;
}
 .our-latest-product .list ul li .main figure img{
width: 100%;
height: 200px;
}

/* .our-latest-product .list ul li .main figure:before{
content: "";
position: absolute;
width: 100%;
height: 0%;
background-color: white;
top:0px;
left: 0px;
transform: scaley(0);
transition:all 0.5s;
}
 .our-latest-product .list ul li .main figure:hover:before{
	opacity: 0.5;
animation:animate 0.5s linear forwards;

}
@keyframes animate{

	0%{
width: 100%;
height: 0%;
transform: scaley(1);
	}
	50%{
width: 100%;
height:50%;
transform: scaley(1);
	}
	100%{
width: 100%;
height:100%;
transform: scaley(1);
	}
}*/
 .our-latest-product .list ul li .main .figcaption{
float: left;
width: 100%;
padding-top: 25px;
}
.our-latest-product .list ul li .main .figcaption h3{
float: left;
width: 100%;
font-size: 15px;
padding-bottom:3px;
text-transform: uppercase;
color: #252525;
font-weight: normal;
}
.our-latest-product .list ul li .main .figcaption h5{
float: left;
width: 100%;
font-size: 14px;
padding-bottom:20px;
color: #252525;
font-weight: normal;
}
 .our-latest-product .list ul li .main .figcaption span{
float: left;
width: 100%;
font-size: 14px;
padding-bottom:9px;
}
.our-latest-product .list ul li .main .figcaption span small{
	color: #ff4038;
}

.our-latest-product .list ul li .main .figcaption a{
display: inline-block;
font-size: 11px;
padding-top: 9px;
padding-bottom: 10px;
padding-left: 16px;
padding-right: 16px;
text-decoration: none;
background-color: #ff4038;
color: #ffffff;
text-transform: uppercase;
margin-bottom: 30px;
margin-top: 15px;
}
 .our-latest-product .list ul li .main .figcaption a i{
	padding-right: 9px;
}